name: "Release"

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

jobs:
  sign:
    name: "Release"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: web-ext-artifacts

      - name: "Create Release"
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ./dist/*
          tag_name: ${{ inputs.tag }}
