<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pop Up - Shiori</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/source-sans-pro.min.css" rel="stylesheet">
    <link href="css/fontawesome.min.css" rel="stylesheet">
    <link href="css/popup.css" rel="stylesheet">
</head>

<body>
    <div id="popup-box">
        <div id="logo">
            <img src="../icons/icon.svg">
        </div>
        <p id="txt-status">Saved to Shiori</p>
        <div id="menu-box">
            <a href="#">Remove bookmark</a>
            <p>&bull;</p>
            <a href="#">View libraries</a>
        </div>
        <div id="input-box">
            <input id="input-tags" type="text" placeholder="Add tags" tabindex="1">
            <a id="btn-save" title="Save"><i class="fas fa-fw fa-save" aria-label="Save"></i></a>
            <a id="loading" style="display: none"><i class="fas fa-fw fa-spinner fa-spin"></i></a>
        </div>
    </div>

    <script src="js/popup.js"></script>
</body>

</html>